<ion-content>
  <app-nav-bar 
  tittle="BreakNews"
  News="Novedades">  
  </app-nav-bar>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" size-md="6" size-sm="12">
        <app-block-news 
        tituloCard="Lorem Ipsum" 
        descripcion="Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido" 
        imagen="../../assets/shapes.svg"></app-block-news>
      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">
        <app-block-news tituloCard="INFIDELIDADES!!" 
        descripcion="Daniel Noboa y Jean Topic terminaron despues de una discucion" 
        imagen="../../assets/shapes.svg"></app-block-news>
      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12">
        <app-block-news tituloCard="Vacaciones de fito" descripcion="Mientras el pais se pudre fito tiene unas gran vacaciones -me la pelan- declara" imagen="../../assets/shapes.svg"></app-block-news>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

